/* commentaire en css */
/* ctrl+: pour commentaires toutes la ligne */
/* shift+alt+a = commentaires uniquement du surligné */

*{
     font-family: 'Lato', sans-serif; 
    font-size: 1.2em;}
header{
    height: 100px;
    background: #f98f32;
    }
    nav{
    height: 30px;
    background: #20DDF2;
    }
    section{
    min-height: 300px;
    background: #F2F220;
    text-align: center;
    }
    article{
    min-height: 200px;
    background: #F2F220;
    text-align: justify;
    }
    footer{
    height: 100px;
    background: #f98f32;
    }
/* Pour selctionner class  .nomdeclass */
    .Liens {
        color: blue;
    }
    #Titrearticle { 
        color: cadetblue;
    }
    /* Pour selectionner ID #nomID */